<app-rootview></app-rootview>
<app-headerview></app-headerview>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-container">
        <div class="row">

          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <div class="shoppinglist-container">
              SHOPPING LIST
              <ul class="list-group">
                <li class="list-group-item">SHOPPING LIST</li>
                <li class="list-group-item">SHOPPING LIST EDIT</li>
                <li class="list-group-item">Ingredient</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="recipebook-container">
              RECIPE LIST
              <ul class="list-group">
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-1"></div>

        </div>
      </div>
    </div>
  </div>
</div>