<!-- <app-rootview></app-rootview> -->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-container">
        <div class="row">
          <div class="col-sm-12">
            <app-recipes></app-recipes>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
              <app-shoppinglist></app-shoppinglist>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>